#services {
    background-color: var(--purple);
  }
  
  #why {
    background-color: var(--pink);
  }
  
  #pricing {
    background-color: var(--purple);
  }
  
  #contact {
    background-color: var(--pink);
  }
  